// Border-box app wide
html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

#root, .app {
  height: 100%;
}

h1 {
  margin: 0;
}

button {
  cursor: pointer;
}

.app {
  text-align: center;
  background-color: #1f3142;
}

.app-header {
  background-color: #222;
  height: 50px;
  padding: 5px;
  color: white;
}

.app-intro {
  font-size: large;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
