.image-container {

  display: inline-block;
  position: relative;

  margin-top: 15px;
  overflow: hidden;

  width: 300px;
  height: 300px;

  img {
    display: block;
    margin: 0 auto;
  }

  .image-gallery {
    position: absolute;
    display: block;
    img {
      display: inline;
      width: 300px;
      height: 300px;
    }
  }

  .image-wrapper {
    display: inline-block;
    width: 300px;
  }

  .loading-cover {
    width: 300px;
    height: 300px;
    background-color: black;
    color: white;
    position: absolute;
    top: 0px;
    padding-top: 150px;
  }

  // Place nav width in variable to offset text centering for title
  $image-nav-width: 70px;
  .image-nav-aligner {
    float: right;
    width: $image-nav-width;
    button {
      margin-right: 5px;
    }
  }

  .image-title {
    // These states are when the title is not currently visible because the image is not being hovered over
    opacity: 0;

    position: absolute;
    z-index: 5;
    
    min-height: 25px;
    top: -25px;

    padding: 4px 4px 4px $image-nav-width;

    background-color: black;
    color: white;
    width: 100%;
  }

  .image-description {
    // These states are when the description is not currently visible because the image is not being hovered over
    opacity: 0;

    position: absolute;
    z-index: 5;
    
    min-height: 25px;
    bottom: -25px;

    padding: 4px;

    background-color: black;
    color: white;
    width: 100%;
  }

  &:hover {
    .image-title {
      opacity: 0.8;
      top: 0;
    }
    .image-description {
      opacity: 0.8;
      bottom: 0;
    }
  }
}

.ease-in {
  transition: all 250ms cubic-bezier(0.420, 0.000, 1.000, 1.000); /* ease-in */
  transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000); /* ease-in */
}

.slideshow-transition {
  transition: margin-left 250ms cubic-bezier(0.420, 0.000, 1.000, 1.000); /* ease-in */
  transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000); /* ease-in */
}
